# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.env.test
.venv
env.bak/
venv.bak/

# Testing
.pytest_cache/
.coverage
htmlcov/
coverage.xml
*.cover

# Distribution / Packaging
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/
# Database
*.db
*.sqlite3
/data/
.cache

*.md
!docs/**/*.md

streamlit_err.log
streamlit_out.log

